.card {
    border: none;
    outline: none;
    -webkit-box-shadow: 3px 5px 83px -15px rgba(41, 185, 221, 0.43);
  -moz-box-shadow: 3px 5px 83px -15px rgba(0,0,0,0.43);
  box-shadow: 3px 5px 83px -15px rgba(0,0,0,0.43);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #000000;
  }
  
  .card p {
    color: gray;
  }
  
  .circle {
    height: 70px;
    width: 70px;
    background-color: lightgray;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .card:hover .circle{
      background-color: black;
      color: white;
      transition: 0.5s;
  }
  