.main {
  /* background: url(/img/IMG_20230424_135558.jpg) no-repeat; */
  /* background-size: cover; */
  width: 100%;
  height: 95vh;
  /* border: 1px solid black; */
  display: flex;
}
.main-img{
    width: 50%;
    height: auto;
}
.landing {
    margin-right: auto;
    display: inline-flex !important;
}
.main h3 {
  font-size: 4.4rem;
  font-weight: 700;
}

.main h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1;
  border-bottom: 3px solid rgb(233, 20, 209);
  width: 40%;
}

.main .bt1 {
  height: 55px;
  width: 138px;
  background-color: rgb(233, 20, 109);
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.main .bt1:hover {
  background-color: rgb(233, 20, 109);
  transition: 0.5s;
}
.main .bt2 {
  height: 55px;
  width: 138px;
  background-color: transparent;
  color: rgb(233, 20, 109);
  outline: none;
  border: 1px solid rgb(233, 20, 109);
  font-weight: bold;
  border-radius: 5px;
}

.main .bt2:hover {
  background-color: rgb(233, 20, 109);
  transition: 0.5s;
  color: white;
}